@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme definition: https://www.realtimecolors.com/?colors=edf2f2-0d1516-80f0ff-36737c-7c25fe&fonts=Poppins-Poppins */

@layer base {
  :root {
    /* --text: 180 16% 6%; */
    --background: 187 26% 93%;
    --foreground: 180 16% 6%;
    --card: 187 26% 93%;
    --card-foreground: 180 16% 6%;
    --popover: 187 26% 93%;
    --popover-foreground: 180 16% 6%;
    --primary: 187 100% 25%;
    --primary-foreground: 187 26% 93%;
    --secondary: 189 39% 65%;
    --secondary-foreground: 180 16% 6%;
    --muted: 187 25% 20%;
    --muted-foreground: 180 16% 70%;
    --accent: 264 99% 43%;
    --accent-foreground: 187 26% 93%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 180 16% 6%;
    --border: 187 25% 20%;
    --input: 187 25% 20%;
    --ring: 264 99% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 187 26% 7%;
    --foreground: 180 16% 94%;
    --card: 187 26% 7%;
    --card-foreground: 180 16% 94%;
    --popover: 187 26% 7%;
    --popover-foreground: 180 16% 94%;
    --primary: 187 100% 75%;
    --primary-foreground: 187 26% 7%;
    --secondary: 188 39% 35%;
    --secondary-foreground: 180 16% 94%;
    --muted: 187 25% 80%;
    --muted-foreground: 180 16% 94%;
    --accent: 264 99% 57%;
    --accent-foreground: 180 16% 94%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 180 18% 10%;
    --border: 188 26% 60%;
    --input: 187 25% 80%;
    --ring: 264 99% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

em {
  font-style: italic;
}

h1 {
  font-size: 1.75rem;
  font-weight: 650;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

p {
  font-size: 1.25rem;
  margin-bottom: 1.5em;
}
p code {
  display: inline-block;
  font-size: 0.9em;
  background: var(--color-inline-code-bg);
  padding: 3px 6px;
  margin: -0.25em -1px;
  border-radius: 3px;
}

a {
  color: var(--primary);
  text-decoration-color: var(--primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.125em;
  font-weight: 500;
  transition: all 200ms;
}

a:hover {
  text-underline-offset: 0.175em;
}

button {
  padding: 0;
}

/* Code Snippet */
pre {
  @apply overflow-x-auto px-0 py-3 rounded-lg my-4;
}

pre [data-line] {
  padding: 0 1rem;
}

pre [data-highlighted-line] {
  background: #c8c8ff1a;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

mark[data-highlighted-chars] {
  @apply px-1 py-[2px] bg-[#4E0D30] border-b-2 border-b-[#9E165F] rounded-md;
}

mark[data-highlighted-chars] > span {
  @apply text-[#FAA7E0] !important;
}

/* Blurry effect for TLDR; */
.blurred > *:not(.tldr) {
  @apply animate-blurred-effect blur-sm z-0;
}

.out-blurred > *:not(.tldr) {
  @apply animate-outside-blurred-effect blur-0 filter-none;
}

.tldr {
  @apply blur-0 z-10 filter-none;
}
